
body, html, .container-fluid {
  height: 100%;
}

.wrapper {
  min-height: 100vh;
  max-height: 100%;
}

main {
  max-height: 100%;
  overflow-y: auto;
}


/* the side bar itself */
.col-2{
    height: 100%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /*the links on the side bar */
  .col-2 a, .navbar a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    color: #818181;
    display: block;
    font-size: 1.5vw;
  }

  /* hover over links */
  .col-2 a:hover {
    color: #f1f1f1;
  }

  /* the top navigation bar */
  .navbar {
    background-color: #051937;
  }




